<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
      <h2 class="mdc-typography--headline4" style="margin-top:0;">Tasks</h2>
    </div>
    <div class="mdc-layout-grid__cell--span-2" align="right">
      <button mdc-button routerLink="/tasks/add" outlined>Add New Task</button>
    </div>
  </div>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-6">
      <table mat-table [dataSource]="tasks" [mdcElevation]="1">

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="dueAt">
          <th mat-header-cell *matHeaderCellDef> Due At </th>
          <td mat-cell *matCellDef="let element"> {{element.dueAt}} </td>
        </ng-container>

        <ng-container matColumnDef="assignedTo">
          <th mat-header-cell *matHeaderCellDef> Assigned To </th>
          <td mat-cell *matCellDef="let element"> {{element.assignedTo}} </td>
        </ng-container>

        <ng-container matColumnDef="isCompleted">
          <th mat-header-cell *matHeaderCellDef> Is Completed </th>
          <td mat-cell *matCellDef="let element"> {{element.isCompleted}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mdc-button routerLink="/tasks/edit/{{ element.id }}">Edit</button>
          </td>
        </ng-container>

      </table>
    </div>
  </div>
</div>
