<mdc-top-app-bar [dense]="true" [fixed]="true" [fixedAdjustElement]="mainContent">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Task Managment">
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <a mdc-button routerLink="/tasks" style="color:white;" [dense]="true">Tasks</a>
      <a mdc-button routerLink="/users" style="color:white;" [dense]="true">Users</a>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
<div #mainContent>
  <router-outlet></router-outlet>
</div>
